body {
  background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/confectionary.png')
}
.class1 {
  color:purple;
  background:black;
  font-size:50px;
  font-family:"brush script mt";
  text-align:center;
}
.class2 {
  text-align: right;
}
a {
  color:green;
}
#header {
  color:purple;
  font-family: "papyrus";
  text-align:center;
}
ul {
  color:blue;
  font-family:Tahoma;
  font-size:12px;
}
li {
  color:purple;
}
img {
  width:100px;
}
#tags {
  color:red;
  font-family:tahoma;
  font-size:12px;
}
header {
  font-size:20px;
}